.home {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 8% 2% 90%;
}

.dashboard {
    width: 100%;
    height: 100%;
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: 4% 8% 6% 82%;
    grid-template-columns: 98% 2%;
}

.book {
    width: fit-content;
    height: fit-content;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: .9rem;
    background-color: var(--brand-primary);
    color: #fff;
    padding: 2vh 1vw;
    border-radius: 10px;
}

.book:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}

.appointments {
    width: 100%;
    height: 100%;
    grid-row: 4 / 5;
    display: flex;
    gap: 1vw;
}