.home {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 12% 2% 86%;
}

.dashboard {
    width: 100%;
    height: 100%;
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: 2% 8% 6% 84%;
    grid-template-columns: 98% 2%;
}

.header {
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 1vh 2vw;
    color: #fff;
    border-radius: 10px;
    font-size: .8rem;
    background-color: var(--brand-secondary-600);
}

.header > img:hover {
    cursor: pointer;
}

.title {
    height: fit-content;
    grid-row: 2 / 3;
}

.form {
    width: 40%;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.form > input, .form > select {
    width: 100%;
    outline: none;
    height: 4vh;
    border: 2px solid var(--brand-secondary-600);
    border-radius: 5px;
    font-size: .9rem;
    font-weight: 600;
    color: var(--brand-secondary-600);
    padding-left: .5vw;
  }
  
  .form > button {
    outline: none;
    background-color: var(--brand-primary);
    outline: none;
    border: none;
    color: #fff;
    font-weight: 600;
    width: fit-content;
    height: fit-content;
    padding: 2vh 3vw;
    border-radius: 5px;
    font-size: .9rem;
  }
  
  .form > button:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  